absl-py==0.13.0
astor==0.8.1
atari-py==0.2.9
attrs==21.2.0
cached-property==1.5.2
cloudpickle==1.6.0
cycler==0.10.0
decorator==4.4.2
docopt==0.6.2
gast==0.2.2
google-pasta==0.2.0
grpcio==1.38.0
gym==0.18.3
h5py==3.2.1
highway-env==1.2
imageio==2.9.0
importlib-metadata==4.5.0
iniconfig==1.1.1
joblib==1.0.1
jsonpickle==2.0.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
llvmlite==0.36.0
Markdown==3.3.4
matplotlib==3.4.2
networkx==2.5.1
numba==0.53.1
numpy==1.20.3
opencv-python==4.5.2.54
opt-einsum==3.3.0
packaging==20.9
pandas==1.2.4
Pillow==8.2.0
pluggy==0.13.1
protobuf==3.17.3
py==1.10.0
pygame==2.0.1
pyglet==1.5.15
pyparsing==2.4.7
pytest==6.2.4
python-dateutil==2.8.1
pytz==2021.1
PyWavelets==1.1.1
scikit-image==0.18.1
scipy==1.6.3
seaborn==0.11.1
six==1.16.0
stable-baselines==2.10.2
tensorboard==1.15.0
tensorboardX==2.2
tensorflow==1.15.0
tensorflow-estimator==1.15.1
termcolor==1.1.0
tifffile==2021.6.14
toml==0.10.2
torch==1.9.0
torchvision==0.10.0
typing-extensions==3.10.0.0
Werkzeug==2.0.1
wrapt==1.12.1
xxhash==2.0.2
zipp==3.4.1
